{% extends "wiki/base.html" %}
{% load wiki_tags %}

{% block content %}
<!--Title-->
{% block contentTitle %}
<nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'wiki:index' %}" style="font-size: 20px;">Wiki Index<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'wiki:upload_page' %}" style="font-size: 20px;">Upload<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
            <li>
                <!--Login / Logout Button-->
                <!--Log out-->
                {% if user.is_authenticated %}
                <a href="{% url 'wiki:logout' %}" class="btn btn-danger"
                    style="align-self: right; font-size: 20px;">Logout</a><br><br>
                {% else %}
                <a href="{% url 'wiki:logout' %}" class="btn btn-primary" style="font-size: 20px;">Login</a><br>
                <br>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
<br>
<div class="container" style="width: 80%;">
    <h2 class="text-primary" style="font-size: 30px;">{{page.title}}</h2>
    {% endblock %}
    <hr />
    <!--Page's Content-->
    <div style="font-size: 20px; "> {{page.content|wikify|markup|safe}}</div>
    <hr />
    <!--Back to Index button-->
    <div style="text-align: center;">
        <a href="{% url 'wiki:index' %}"><button class="btn btn-secondary">Back to Index</button></a>
        <a href="{% url 'wiki:edit_page' page.title%}"><button class="btn btn-primary">Edit</button></a>

    </div>
</div>

<footer>
    This page has been visited {{ page.counter }} times
</footer>


{% endblock %}