{% extends "wiki/base.html" %}
{% load wiki_tags %}

{% block content %}
<!--Title-->
{% block contentTitle %}
<div class="container" style="width: 80%;">
    <h2 class="text-primary" style="font-size: 30px;">{{page.title}}</h2>
    {% endblock %}
    <hr />
    <!--Page's Content-->
    <div style="font-size: 20px;"> {{page.content|wikify|markup|safe}}</div>
    <hr />
    <!--Back to Index button-->
    <div style="text-align: center;">
        <a href="{% url 'wiki:index' %}"><button class="btn btn-secondary">Back to Index</button></a>
        <a href="{% url 'wiki:edit_page' page.title%}"><button class="btn btn-primary">Edit</button></a>
    </div>
</div>
{% endblock %}