<!--Extends from the contents in base.html-->
{% extends 'wiki/base.html' %}
{% load staticfiles %}
{% block content %}

<!--TinyMCE Script-->
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script>tinymce.init({ forced_root_block: "", selector: '#id_content', plugins: 'autolink', remove_trailing_brs: false });</script>

<!--Title-->
<div style="padding: 0 50px 0 50px;">
    <h2>
        <!--Editing Notification-->
        <div class="alert alert-warning" role="alert">{%block contentTitle %}Editing "{{page_name}}"{% endblock %}</div>
    </h2>
</div>

<!--Form-->
<div class="container">
    <form method="post" action="{% url 'wiki:save_page' page_name %}" class="text-center">
        {% csrf_token %}
        <!--Editing Textbox-->
        <textarea id="id_content" name="content"
            style="width:95%; height:90%; min-height: 300px;">{{content}}</textarea>

        <!--Buttons-->
        <br />
        <!--Save Button-->
        <button name="Save" class="btn btn-primary" type="submit" value="Save">Save</button>
        <!--Cancel Button-->
        <button name="Cancel" class="btn btn-secondary" type="submit" value="Reset">Cancel</button>
    </form>
</div>
{% endblock %}