{% extends 'wiki/base.html' %}
{% load static %}

<!--Back To Top Button Style-->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        background-color: red;
        color: white;
        padding: 15px;
        border-radius: 4px;
    }

    #myBtn:hover {
        background-color: #555;
    }
</style>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<!--Back To Top Button Script-->
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<section>

    <ul class="flex-container">
        <li>
            <h2 class="text-primary" style="font-size: 30px;"></h2>
        </li>
        <ul class="flex-container">
            <li>
                <!--Login / Logout Button-->
                <!--Log out-->
                {% if user.is_authenticated %}
                <a href="{% url 'wiki:logout' %}" class="btn btn-danger" style="align-self: right;">Logout</a><br><br>
                {% else %}
                <a href="{% url 'wiki:logout' %}" class="btn btn-primary">Login</a><br>
                <br>
                {% endif %}
            </li>
        </ul>
    </ul>

    {% block content %}
    <h2>Upload A File</h2>

    <form method='POST' enctype='multipart/form-data' action="{% url 'wiki:upload_page' %}">
        {% csrf_token %}
        {{form}}
        <input type='submit' value="Upload">
    </form>

</section>

<hr />

<section>

    <h2>Uploaded Files:</h2>
    <div class="container">
        {% if files %}
        <ul class="list-group" id="listorder">
            {% for file in files %}
            <li class="list-group-item"><a href="{{file.upload.url}}">{{file.upload.name}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No uploaded files</p>
        {% endif %}
    </div>
</section>
{% endblock %}