{% extends "wiki/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form class="container" method="post" action="{% url 'wiki:login' %}">
    {% csrf_token %}

    <br>
    <table style="font-size: 20px;">
        <tr>
            <td><label for="id_username" style="margin: 0 0 0 20px;">Username:</label></td>
            <td><input type="text" name="username" autofocus="" required="" id="id_username" style="margin: 0 0 0 20px;"></td>
        </tr>
        <tr>
            <td><label for="id_password" style="margin: 0 0 0 20px;">Password:</label></td>
            <td><input type="password" name="password" required="" id="id_password" style="margin: 0 0 0 20px;">
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <div style="text-align: center">
        <input class="btn btn-primary" style="font-size: 15px;" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
        <a href="/wiki/" class="btn btn-secondary">Back</a>
    </div>
</form>
<!--
<form class="container" method="post" action="{% url 'wiki:login' %}">
    {% csrf_token %}

    <br>
    <table style="font-size: 20px;">
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <br>
    <input class="btn btn-primary" style="font-size: 15px;" type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
    <a href="/wiki/" class="btn btn-secondary">Back</a>
</form>
-->
{% endblock %}